
.dashboard-card {
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #2f3857 0%, #1b2845 100%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-card-small {
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #2f3857 0%, #1b2845 100%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-card-small-pink {
  border-color: #2d2527;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #7d66e5 0%, #0071bd 100%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.vue-gauge-item text
{
  color:#FFF!important;
}


/* Global SVG text styling */
::v-deep svg text {
  fill: white !important;
  font-family: Arial, sans-serif;
}

/* Specific element targeting */
::v-deep .gauge-arc-label {
  fill: white !important;
  font-size: 12px;
}

::v-deep .gauge-central-label {
  fill: white !important;
  font-size: 24px;
  font-weight: bold;
}



