/* .theme--light span {
  color: black !important;
}

.theme--light span {
  color: black !important;
}

.theme--light.v-icon
{
 color: black !important;
} */
theme--light.v-icon
{
 color: black !important;
}

 .livedateTime .v-icon {
  color: #fff !important;
}
.theme--light.v-app-bar.v-toolbar.v-sheet {
background-color: #04253b;;
}

